header{
    
    .navbar-brand{
      margin-left: 10px;
        font-size: 30px;
    }
    .navbar-nav{
        margin: auto;
        font-size: 20px;
    }
    .input-group{
        margin-right: 10px;
        width: 300px;
    }
}
